.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Hide scrollbar */
  }
  
  .container {
    flex: 1;
    display: flex;
    overflow: hidden; /* Hide scrollbar */
  }
  
  .sidebar {
    flex: 0 0 auto;
    height: 100%;
    overflow-y: auto; /* Enable vertical scrollbar for sidebar content if needed */
  }
  
  .contentContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto; /* Enable vertical scrollbar for content area if needed */
  }
  
  .content {
    flex: 1;
  }
  
  .footer {
    flex-shrink: 0;
    height: 8px;
  }
  